//Colors
$black-accent: #1c1c1c;
$red-accent: #e27866;
$green-accent: #41d395;
$blue-accent: #6696e2;
$light-gray-accent: #d8d8d8;
$white-color: #ffffff;
$primary-color: #E27866;
$primary-color-light: #E58675;
$primary-color-op80: rgba(226, 120, 102, 0.8);
$primary-color-op90: #E2786690; //90 opacity
$white-color: #ffffff;
$white-color-shade: #F5F5F5;
$paragraph-gray: #86878B;
$mid-gray: #333333;
$dark-gray: #1C1C1C;
$light-blue: #6696E2;
$primary-green: #41D395;
$primary-green-darker: #34a977;
$very-light-gray: #D8D8D8;

// Cursor
$hand-cursor: url("../content/general/description-cursor-icon-with-shadow-32.png"),
  auto;

//Max-width of the container
$max-width: 1100px;
